body, html {
    height: 100%;
    margin: 0;
    
}

.container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}

.left-half {
    flex: 1;
    background-color: #710f0f;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs {
    display: inline-block;
}

.inputs input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-style: none;
    margin-left:10px;
    margin-top:10px;
}

.inputs label{
    color:white;
    font-family: 'Poppins', sans-serif;
}

.right-half {
    flex: 0.4;
    background-color: #710f0f;


}

.right-half img {
    width: 40vw; /* 50% of the viewport width */
    height: 100%; /* Full height of the container */
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.left-half img {
    display: block;
    margin-top: 10px;
}


.logo {
    position: absolute;
    top: 0;
    right: 0;
  }

.welcome-text {
    color: white;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 20%;

}

.button-container {
    width: 50%;
    padding: 5px;
    background: white;
    border-radius: 32px;
    overflow: hidden;
    border: 1px #333333 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25%;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.button-text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: 'Poppins';
    margin-top: 5px;
}

#login-btn{
    margin-left:20px;
    margin-top: 20px;
    padding:10px;
    padding-left:50px;
    padding-right:50px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    font-size:18px;
    font-weight: 300;
    color:black;
    font-family: 'Poppins', sans-serif;
}

#login-btn:hover {
    background-color: #ef9292;
    color:white;
}

#goback {
    background-color: #710f0f;
    border-style: none;
    margin-top:5px;
}

#goback .button-text{
    color:white;
    font-size: 16px;;
    
}

#goback:hover .button-text{
    color: #ef9292;
}

.notification{
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    color:white;

}

